/* --- Best Practices

Color:
    Hover on link: rgb(60, 115, 226);


*/

#top-bar {
    float: right;
}

#cartshop {
    height: 21px;
    position: relative;
    top: 5px;
    margin-left: 13px;
}

#top-bar a {
    border-right: 1px solid rgb(147, 147, 147);
    padding-right: 13px;
    margin-left: 13px;
    text-decoration: none;
    color: rgb(147, 147, 147);
}

#top-bar a:hover {
    color: rgb(60, 115, 226);
}

#cartshop:hover {
    color: rgb(60, 115, 226);
    /*Review how to make it*/
}

#logo {
    /*    height: 5%;*/
    /*    width: 21%;*/
    width: 190px;
    margin: 30px;
    /*     display:inline-block;*/
    /*     border:1px solid;*/
    float: left;
    margin-right: 150px;
}

.main-nav {
    float: left;
    list-style: none;
    margin: 35px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 40px;
}

.main-nav a {
    text-decoration: none;
    font-family: "Moderat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

.main-nav a:hover {
    border-top: 3px rgb(60, 115, 226) solid;
}

#more-sign {
    height: 10px;
}

.clear {
    clear: both;
}

.feature {
    background-color: rgb(244, 244, 244);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.feature ul {
    display: inline;
}

.nav-feature {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-size: 16px;
    font-weight: normal;
}

.nav-feature a {
    text-decoration: none;
    color: black;
    font-family: "Moderat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-feature a:hover {
    color: rgb(60, 115, 226);
}

#shop {
    border-top: 3px solid rgb(60, 115, 226);
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    font-family: "Larish Neue Semibold", Palatino, "Times New Roman", Times, serif;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: rgb(114, 114, 114);
}

.column {
    float: left;
    margin: 18px;
}

.column1 {
    width: 370px;
    height: 370px;
}

.description {
    text-align: center;
}

h4 {
    color: rgb(169, 169, 169);
}

h3:hover {
    color: rgb(114, 114, 114);
}

#button-seller {
    width: 300px;
    height: 60px;
    background: url("../images/seller-button-2.png") no-repeat top left;
    display: block;
    margin: 0 auto;
}

#button-seller:hover {
    background-position: bottom right;
    width: 300px;
}


/*Footer*/

footer {
    width: 100%;
    background-color: rgb(244, 244, 244);
    margin: 40px 0 0 0;
}

footer h3 {
    font-size: 23px;
    font-family: "Larish Neue Semibold", Palatino, "Times New Roman", Times, serif;
}

footer p {
    font-size: 14px;
    font-family: "Larish Neue Semibold", Palatino, "Times New Roman", Times, serif;
}

footer a {
    color: black;
}

.CustomService {
    width: 25%;
    /*    float:left;*/
    /*    border: 1px solid black;*/
    display: inline-block;
    height: 300px;
    overflow: auto;
    margin-left: 50px;
}

.About {
    width: 15%;
    height: 300px;
    display: inline-block;
    /*    border: 1px solid black;*/
    overflow: auto;
}

.ShareUgmonk {
    width: 30%;
    height: 300px;
    display: inline-block;
    /*        border: 1px solid black;*/
    font-size: 23px;
    /*    overflow: auto;*/
    vertical-align: top;
    text-align: center;
}

.FooterLogo {
    width: 25%;
    overflow: auto;
    display: inline-block;
/*    float: right;*/
    overflow: auto;
    text-align: right;
    /*        border: 1px solid black;*/
    height: 300px;
}

#logofooter {
    height: 80px;
    margin: 27px 10px 10px 10px;
}

#giveget {
    border: 3.5px solid white;
    font-size: 20px;
    font-family: "Larish Neue Semibold", Palatino, "Times New Roman", Times, serif;
    width: 220px;
    padding: 10px 5px 10px 24px;
    margin: 0 auto;
}

#giveget a {
    color: rgb(60, 115, 226);
}

#giveget:hover {
    background-color: white;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: rgb(60, 115, 226);
}

.FooterLogo p {
    padding-right: 14px;
    color: rgb(136, 136, 136);
    font-family: "Larish Neue Semibold", Palatino, "Times New Roman", Times, serif;
    margin-top: 10px;
    margin-bottom: 13px;
}

.icon {
    height: 30px;
    padding-right: 10px;
}